/*========================================================
        DARK LAYOUT
=========================================================*/
img#captcha {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: calc( 1.25em + 1.4rem + 1px) !important;
  font-size: 0.96rem;
  line-height: 1.25;
  cursor:pointer;
  opacity: 0.8;
}
@media only screen and (max-width: 600px) {
  img#captcha {
    position: relative;
    top: unset;
    right: unset;
    border-radius: unset;
    margin-top: 1rem;
  }
}
.theme-color{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
} 
.item-color{
  margin: .5rem;
}
.item-color p{
margin-bottom: 0.3rem
}
.item-color button{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: solid 3px white;
  margin-left: 2px;
}
.item-color span{
opacity: 0.3;
}
.circle{
  position: relative;
  border-radius: 50%;
  margin-left: 0px;
  opacity: 1 !important;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}
.circle-left{
  position: relative;
  padding: 9px 0px 2px 2px;
  border-radius: 50%;
  border: #fff solid 1px;
  margin-left: 0px;
  opacity: 1 !important;
}

.blue{
  background-color: #0672ca; 
}
.sapphire{
background-color: #6cacf2
}
.red{
  background-color: #ff3030; 

}
.pink{
  background-color: #f85e80; 

}
.green{
  background-color: #3dbc7a; 
}

.mint{
background-color: #0cc9d5
}

.yellow{
  background-color: #ffc527; 
}
.gray{
background-color: #d4d4d4;
}
.orange{
background-color: #fd651a
}
.brown{
background-color: #8f3622
}
:root {
--main-color: url(../../../public/images/backgrounds/bg-red-min.jpg);
--second-color: #e4626e;
--image-left: url(../../../public/images/pages/img-red.png);

}

canvas{
  top: 0;
  position: absolute;
}
body {
  margin: 0;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  color: #626262;
  text-align: left;
  background-color: #f8f8f8;
} 
html body.blank-page .content.app-content{
z-index: 1;
}
body[data-theme='red'] {
--main-color: url(../../../public/images/backgrounds/bg-red-min.jpg);
--second-color: #e4626e;
--image-left: url(../../../public/images/pages/img-red.png); 
}
body[data-theme='pink'] {
--main-color: url(../../../public/images/backgrounds/bg-pink-min.jpg);
--second-color: #d94271;
--image-left: url(../../../public/images/pages/img-pink.png);
}
body[data-theme='green'] {
--main-color: url(../../../public/images/backgrounds/bg-green-min.jpg);
--second-color: #5ac0ab;
--image-left: url(../../../public/images/pages/img-green.png);
}
body[data-theme='mint'] {
--main-color: url(../../../public/images/backgrounds/bg-mint-min.jpg);
--second-color: #0da0a0;
--image-left: url(../../../public/images/pages/img-mint.png);
}
body[data-theme='yellow'] {
--main-color: url(../../../public/images/backgrounds/bg-yellow-min.jpg);
--second-color: #ffb449;
--image-left: url(../../../public/images/pages/img-yellow.png);
}
body[data-theme='gray'] {
--main-color: url(../../../public/images/backgrounds/bg-gray-min.jpg);
--second-color: #85919d;
--image-left: url(../../../public/images/pages/img-gray.png);
}
body[data-theme='blue'] {
--main-color: url(../../../public/images/backgrounds/bg-blue-min.jpg);
--second-color: #2e61da;
--image-left: url(../../../public/images/pages/img-blue.png);
}
body[data-theme='sapphire'] {
--main-color: url(../../../public/images/backgrounds/bg-sapphire-min.jpg);
--second-color: #3a9fd5;
--image-left: url(../../../public/images/pages/img-sapphire.png);
}
body[data-theme='orange'] {
--main-color: url(../../../public/images/backgrounds/bg-orange-min.jpg);
--second-color: #fd651a;
--image-left: url(../../../public/images/pages/img-orange.png);
}
body[data-theme='brown'] {
--main-color: url(../../../public/images/backgrounds/bg-brown-min.jpg);
--second-color: #b67868;
--image-left: url(../../../public/images/pages/img-brown.png);
} 
.form-control:focus {
  color: #4e5154;
  background-color: #fff;
  border-color: var(--second-color);
  outline: 0;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}
.img-pbx{
content:  var(--image-left);
max-width: 80%;
transition: all 1s ease-out;
animation: bounce 5s ease infinite;
}
@keyframes bounce {
  70% { transform:translateY(0%); }
  80% { transform:translateY(-10%); }
  100% { transform:translateY(0); }
}
html body.bg-full-screen-image {
transition: color 300ms, background-color 300ms;
background-image: var(--main-color) !important;
color: var(--second-color);
transition: all 1s ease-out;
}
#space-js{
position: relative;
height: 100%;
transition: color 300ms, background-color 300ms;

}
a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
h1, h2, p {
color: var(--second-color);
}
body {
background-color: #262c49;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
color: #ebeefd;
}

body [class*="border"] {
border-color: #414561 !important;
}

body a:hover {color: #e0818b;font-weight: bold;}

body p,
body small,
body span,
body label {
color: #ffffff;
}

body hr {
border-color: #414561;
}

body pre {
background-color: #262c49;
border: 0;
}

body pre code {
background-color: inherit;
text-shadow: none;
}

body pre code .operator,
body pre code .url {
background-color: #262c49;
}

body code {
background-color: #262c49;
color: #b8c2cc;
}

body kbd {
background-color: #262c49;
}

body .modal .modal-header,
body .modal .modal-header[class*="bg-"] {background-color: var(--second-color) !important;}

body .modal .modal-header .close,
body .modal .modal-header[class*="bg-"] .close {background-color: #999999;text-shadow: none;position: absolute;top: 0;right: 1rem;}

body .modal .modal-header .close span,
body .modal .modal-header[class*="bg-"] .close span {
color: #fff;
}

body .modal .modal-content,
body .modal .modal-body,
body .modal .modal-footer {color: var(--second-color) !important;font-weight: 700;font-size: 18px;}
body .modal .modal-footer [class*='btn-primary'] { background: var(--second-color) !important; color: #fff; }

body .modal .modal-content .form-control,
body .modal .modal-content .picker__input,
body .modal .modal-content .custom-file-label,
body .modal .modal-content .custom-file-label:after,
body .modal .modal-body .form-control,
body .modal .modal-body .picker__input,
body .modal .modal-body .custom-file-label,
body .modal .modal-body .custom-file-label:after,
body .modal .modal-footer .form-control,
body .modal .modal-footer .picker__input,
body .modal .modal-footer .custom-file-label,
body .modal .modal-footer .custom-file-label:after {
background-color: #10163a !important;
}

body .card {
background-color: transparent;
}

body .card .card-header,
body .card .card-footer {
color: #c2c6dc;
background-color: transparent;
}

body .card .card-header .heading-elements.visible ul li {
background-color: #10163a;
}

body .card .heading-elements.visible .list-inline {
background-color: #10163a;
}

body .card .card-body,
body .card .card-footer {
color: #c2c6dc;
border-color: #414561;
}

body .card.overlay-img-card .card-img-overlay span,
body .card.overlay-img-card .card-img-overlay p {
color: #fff;
}

body input.form-control,
body .custom-file-label,
body textarea.form-control {
background-color: #ffffff96;
color: #fff;
border-radius: 20px;
}

body input.form-control:not(:focus),
body .custom-file-label:not(:focus),
body textarea.form-control:not(:focus) {
border: 0;
}

body input.form-control::placeholder,
body .custom-file-label::placeholder,
body textarea.form-control::placeholder {
color: #ffffff;
}

body input.form-control~.form-control-position i,
body .custom-file-label~.form-control-position i,
body textarea.form-control~.form-control-position i {
color: #ffffff;
}

body input.form-control:focus~.form-control-position i,
body .custom-file-label:focus~.form-control-position i,
body textarea.form-control:focus~.form-control-position i {
color: var(--second-color);
}

body input.form-control:disabled,
body input.form-control[readonly="readonly"],
body .custom-file-label:disabled,
body .custom-file-label[readonly="readonly"],
body textarea.form-control:disabled,
body textarea.form-control[readonly="readonly"] {
opacity: 0.5;
}

body .char-textarea.active {
color: #c2c6dc !important;
}

body .char-textarea.max-limit {
color: #ea5455 !important;
}

body .custom-file-label:after {
background-color: #262c49;
border-left: 1px solid #414561;
color: #c2c6dc;
}

body .has-icon-left.input-divider-left .form-control-position i {
border-right-color: #414561;
}

body .has-icon-left.input-divider-right .form-control-position i {
border-left-color: #414561;
}

body select.form-control,
body .custom-select {
background-color: #262c49;
color: #c2c6dc;
border: 0;
}

body select.form-control option:checked,
body .custom-select option:checked {
background-color: #10163a;
}

body .custom-switch .custom-control-input[disabled]~.custom-control-label {
opacity: 0.5;
}

body .custom-switch .custom-control-input:not(:disabled):active~.custom-control-label::before {
background-color: #7367f0;
}

body .custom-switch .custom-control-input:checked~.custom-control-label::before {
background-color: #7367f0;
}

body .custom-switch .custom-control-label:before {
background-color: #262c49;
}

body .custom-control-label::before {
background-color: #414561;
}

body .custom-control-input:disabled~.custom-control-label::before {
background-color: rgba(65, 69, 97, 0.5);
border-color: #414561;
}

body .input-group .input-group-prepend .input-group-text,
body .input-group .input-group-append .input-group-text {
background-color: #10163a;
border: 1px solid #414561;
}

body .input-group .input-group-prepend~.form-control {
border-left: 1px solid #414561;
}

body .input-group .form-control~.input-group-append {
border-left: 1px solid #414561;
}
.form-label-group > input:focus:not(:placeholder-shown) ~ label, .form-label-group > input:not(:active):not(:placeholder-shown) ~ label, .form-label-group textarea:focus:not(:placeholder-shown) ~ label, .form-label-group textarea:not(:active):not(:placeholder-shown) ~ label {
  color: #fff !important;
  transition: all .25s ease-in-out;
  opacity: 1;
}
body .form-label-group>input:not(:focus):not(:placeholder-shown)~label,
body .form-label-group>textarea:not(:focus):not(:placeholder-shown)~label {
color: #fff !important;
}

body.fixed-footer .footer {
background-color: #10163a;
}

.card {
border: none;
border-radius: 0.5rem;
box-shadow: none;
transition: all .3s ease-in-out;
}

.btn-login{
background: var(--second-color);
color: #ffffff;
border: solid 1px #ffffff;
border-radius: 30px
}

.vs-checkbox-primary input:checked ~ .vs-checkbox {
border-color: var(--second-color) !important;
}

.vs-checkbox-primary input:checked ~ .vs-checkbox .vs-checkbox--check {
 background: var(--second-color) !important;
}

.vs-checkbox-con .vs-checkbox {
   border-color: #ffffff; 
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid 1px #ffffff61;
  padding: 0rem 1.2rem !important;
}

@media only screen and (min-width: 600px) {
  .powered {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(5%, -50%);
  }
}
@media only screen and (max-width: 600px) {
  footer {
    padding: 0.3rem !important;
    font-size: 10px;
    text-align: center;
  }

  .responsive-on-top {
   position: fixed;
    top: 1rem;
    right: 0;
  }
}
.lang{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.lang > a.active {
  color: #f4f1f1;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
}
.cloud1{
  position: absolute;
  max-width: 85%;
  left: -5%;
  top: 12%;
  z-index: -1;
  animation: kisiOblak 19s infinite;
}
.cloud2{
  position: absolute;
  max-width: 74%;
  left: 29%;
  top: 50%;
  z-index: -1;
  animation: cloud2 15s infinite;
}
@keyframes kisiOblak {
  0% {
    left: -5%;
    top: 12%;
  }
  50%
  {
    left: 10%;
    top: 12%;
  }
  100% {
    left: -5%;
    top: 12%;
  }
}

@keyframes cloud2 {
  0% {
    left: 29%;
    top: 50%;
  }
  50%
  {
    left: 10%;
    top: 50%;
  }
  100% {
    left: 29%;
    top: 50%;
  }
}
